html {
    font-size: 16px;
    font-family: 'Asap', sans-serif;
    background-color: #588f4d;
}

#topBoard {
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.playerName {
    font-size: 30px;
}

#midBoard {
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
}

#dropZone {
    background-color: #95c98a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.cardPlayed {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(108, 148, 100, 0.5);
    width: 20%;
    height: 80%;
    margin: 10px;
}

#scoreZone,
#startZone {
    background-color: #8ac5c9;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#startZone div,
#startZone li {
    text-align: center;
}

#nbPlayers {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10%;
}

#scoreButton,
#startButton,
#resetButton {
    width: 80%;
    height: 20%;
    align-self: center;
    border-radius: 10%;
}

#bottomBoard {
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}

#boardCurrentPlayer {
    background-color: #95c98a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#currentPlayerInfos,
.otherPlayerInfos {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.otherPlayerInfos {
    background-color: rgb(44, 73, 38, 0.5);
    margin: 1rem;
}

#currentPlayerInfos {
    background-color: #8ac5c9;
}

.cardCurrentPlayer {
    background-color: rgba(108, 148, 100, 0.5);
    width: 8%;
    height: 80%;
    margin: 1%;
    text-align: center;
}

#betModal,
#winnerModal {
    position: absolute;
    left: 40%;
    top: 25%;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

#scoreModal {
    position: absolute;
    top: 40%;
    left: 30%;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

#scoreModal th,
#scoreModal td {
    border: 1px solid black;
    padding: 5px;
}

.is-hidden {
    visibility: hidden;
    display: none;
}